*{
	box-sizing: border-box;
}
.header{
	background-size: cover;
	height: 100vh;
	background-attachment: scroll;
}
.video-background{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	background-attachment: scroll;
}
hr{
	border:10px groove;
	color: grey;
}
.box{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	padding: 25px;
}

.b3 h1{
	font-size: 50px;
	font-family: sans-serif;
	background-color: rgba(10,10,10,0.3);
	font-style: italic;
	color: orange;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
}
.b4 h2{
	font-size: 30px;
}
.b4 img{
	float:left;
	padding-right: 10px;
}
.b4{
	color:red;
	font-size:25px;
	font-family: arial;
	font-style: italic;
	padding: 20px;
}
audio{
	display:none;
}

div.boxb2{
	padding-left: 3%;
	padding-right: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: center;
	align-content: center;
}
#boxbb1,#boxbb3{
	width: 20%;
}
#boxbb3 img{
	position:relative;
	float:right;
}
#boxbb1 img,#boxbb3 img{
	width: 100%;
	height: 70%;
}
#boxbb2{
	background-color: rgba(104, 101, 97, 0.582);
	border: dotted 4px rgb(236, 8, 8);
	font-family: 'Charm', cursive;
	font-size: 30px;
	color: rgb(216, 25, 19);
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	height: 70%;
}
#boxbb2 h1,#boxbb2 h2{
	background: -webkit-linear-gradient(rgb(243, 9, 9), rgb(250, 226, 7));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
}
h2{
	background: -webkit-linear-gradient(rgb(7, 86, 204), rgb(46, 160, 11));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
